h1{
	color:darkslateblue;
	text-align: center;
}
p{
	text-align:center;
}
input{
	padding:20px;
	border-radius:10px;
	width: 50%;
	border:2px #2c2c2c solid;
	display:flex;
	margin:auto;
}
input:hover{
	border:2px grey solid;
}